[user]
    name = nenono
    email = e.2.n.1021@gmail.com
[core]
    editor = 'C:/Program Files (x86)/sakura/sakura.exe' -code=4
    quotepath = false
    autocrlf = false
[color]
    ui = true
[gui]
    encoding = utf-8
    
[ghq]
    root = ~/repos
[merge]
    tool = wm
[diff]
    guitool = wm
[diftool "wm"]
    cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e -r -u -x -wl -wr -dl \"a/$MERGED\" - dr \"b/$MERGED\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false
[mergetool "wm"]
    cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e -u -fm -wl -wr -dl \"Mine File\" -dm \"Base File\" -dr \"Theirs File\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -o \"$MERGED\"
[difftool "p4"]
    cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "p4"]
    cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[pull]
	ff = only
[fetch]
	prune = true
